{{!-- I did not succeed to make "extends" it work --}}
{{!-- Maybe conflict with the filesystem (layouts and partials folders) of express-handlebars --}}

<div style="background-color: red;">
  {{#block "aaa"}}{{/block}}
</div>